.icon{
	width: 8px;
	height: 18px;
	background:#666699;
	float: left;
	margin-top: 15px;
	margin-left: 30px;
}
.topbox{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
}
.zi{
	float: left;
	margin-left: 12px;
	color: #666699;
	font-size: 16px;
	line-height: 50px;
}
.checkboxname{
	display: inline-block;
	float: left;
}
.checkboxgroup{
	margin-left: 230px;
}
.checkboxgroup label{
	margin-left: 70px;
	font-size: 13px;
	color: #333;
}
.search{
	width: 146px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	background: #666699;
	margin: 0 auto;
	display: block;
	border: none;
	margin-top: 40px;
}